:root{
    --orange : #F87C56;
    --green : #80ECAB;
    --purple: #A78CF3;
    --shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    --shadow-hovered: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
html{
    scroll-snap-type: y mandatory;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    /* scroll-snap-type: y mandatory; */
    font-size: 1.6rem;
}
.main{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.nav-bar{
    position: fixed;
    height: 15%;
    width: 100%;
    font-weight: 300;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo . nav-buttons";
    align-content: center;
    z-index: 3;
}
#logo{
    box-shadow: var(--shadow);
    transition: all;
}
#logo:hover{
    box-shadow: var(--shadow-hovered);
}
.logo{
    grid-area: logo;
    justify-self: center;
    
}
.nav-buttons{
    grid-area: nav-buttons;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: auto; */
    align-content: center;
    
}
.nav-button{
    padding: 0.5rem 1rem;
    box-shadow: var(--shadow);
    justify-self: center;
    transition-property: all;
}
.nav-button:hover{
    transform: rotateZ(-5deg);
    box-shadow: var(--shadow-hovered);
}
.orange{
    background-color: var(--orange);  
}
.green{
    background-color: var(--green);
}
.purple{
    background-color: var(--purple);
}
.hero-container{
    height: 100%;
}
.hero{
    height: 100%; 
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero.welcome{
    scroll-snap-align: start;
    font-size: 7.2rem;
}
.hero.about{
    scroll-snap-align: start;
}
.hero.projects{
    scroll-snap-align: start;
}
.hero.contact{
    scroll-snap-align: start;
}
.hero.form{
    scroll-snap-align: start;
}
.container.welcome{
    display: flex;
    animation-name: intro;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.container.welcome .orange{
    background: linear-gradient(180deg,rgba(255,255,255,1) 20%, var(--orange) 20%);
    transition-property: background;
}
.container.welcome .green{
    background: linear-gradient(0deg,rgba(255,255,255,1) 20%, var(--green) 20%);
    transition-property: background;
}
.container.welcome .purple{
    background: linear-gradient(180deg,rgba(255,255,255,1) 40%, var(--purple) 40%);
    transition-property: background;
}
.container.welcome .orange:hover{
    background: linear-gradient(180deg,rgba(255,255,255,1) 80%, var(--orange) 80%);
}
.container.welcome .green:hover{
    background: linear-gradient(0deg,rgba(255,255,255,1) 40%, var(--green) 40%);
}
.container.welcome .purple:hover{
    background: linear-gradient(0deg,rgba(255,255,255,1) 40%, var(--purple) 40%);
}

.container.about{ 
    flex-basis: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-top{
    font-size: 7.2rem;
}
.container-bottom{
    display: flex;
}
.container.about .container-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container.projects .container-bottom{
    justify-content: start;
    max-width: 60vh;
    flex-wrap: wrap;
}
.container.contact .container-bottom{
    flex-direction: column;
    justify-content: space-between;
    min-height: 40vh;
}
.coding{
    position: relative;
}
.coding .box.orange:first-child{
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}
.coding .box.orange:hover:first-child{
    transform: translateY(-30vh);
}
.studying{
    position: relative;
}
.studying .box.green:first-child{
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}
.studying .box.green:hover:first-child{
    transform: translateY(-30vh);
}
.hiking{
    position: relative;
}
.hiking .box.purple:first-child{
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}
.hiking .box.purple:hover:first-child{
    transform: translateY(-30vh);
}
.project{
    position: relative;
}
.project .box.orange:first-child{
    transition-property: z-index, transform;
    transition-duration: 0s, 1.5s;
    transition-timing-function: ease-in-out;
    z-index: 3;
}
.project .box.orange:hover:first-child{
    
    transform: translateX(30vh);
    
}
.project .box.green:first-child{
    transition-property: z-index, transform;
    transition-duration: 0s, 1.5s;
    transition-timing-function: ease-in-out;
}
.project .box.green:hover:first-child{
    z-index: 3;
    transform: translateY(30vh);
}
.project .box.purple:first-child{
    transition-property: all;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}
.project .box.purple:hover:first-child{
    transform: translateX(30vh);
}
.container.contact .box-small.orange{
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.container.contact .box-small.orange:hover{
    border-radius: 25% 25% 25% 25%;
}
.container.contact .box-small.green{
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.container.contact .box-small.green:hover{
    border-radius: 50% 50% 50% 50%;
}
.container.contact .box-small.purple{
    transition: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.container.contact .box-small.purple:hover{
    border-radius: 25% 25% 25% 25%;
}
.box{
    box-sizing: border-box;
    width: 30vh;
    height: 30vh;
    font-size: 4.8rem;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    z-index: 2;
    
}
.box-small{
    box-shadow: var(--shadow);
}
.hidden{
    font-size: 2rem;
    font-weight: 300;
    position: absolute;
    top: 0;
    z-index: 1;
}
.iconify{
    box-sizing: border-box;
    padding: 1rem;
    font-size: 100px;
}

@keyframes intro{
    0% {transform: scale(0,0);}
    100%{transform: scale(1,1);}
}
@media screen and (max-width: 400px) {
    html{
        font-size: 40%;
    }
    .nav-bar{
        grid-template-columns: repeat(auto-fill, 1fr);
    }
    .container.welcome{
        justify-self: center;
        align-self: center;
    }
    .container.about{
        justify-content: center;
        align-content: center;
    }
    .container-bottom{
        flex-direction: column;
        justify-self: center;
        align-self: center;
    }
    .box{
        width: 20vh;
        height: 20vh;
    }
    .container.about .box:hover:first-child, .container.about .box:active:first-child{
        transform: translateX(20vh);
    }
    .project .box.orange:hover:first-child, .project .box.orange:active:first-child{
        transform: translateY(20vh); 
    }
    .project .box.green:hover:first-child, .project .box.green:active:first-child{
        z-index: 3;
        transform: translateY(20vh);
    }
    .project .box.purple:hover:first-child, .project .box.purple:active:first-child{
        transform: translateY(-20vh);
    }
}
